* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.header {
  background-color: #000000;
}
.header .navbar {
  display: flex;
  justify-content: space-between;
}

.menu .navbar .navbar-nav .nav-item .nav-link {
  color: #000000;
  font-weight: 500;
  position: relative;
  margin-right: 15px;
}
.menu .navbar .navbar-nav .nav-item .nav-link::before {
  content: "";
  position: absolute;
  left: 0%;
  bottom: 0%;
  width: 100%;
  height: 3px;
  background-color: gray;
  transform: scale(0, 1);
  transition: all 0.2s;
}
.menu .navbar .navbar-nav .nav-item .nav-link:hover::before {
  transform: scale(1, 1);
}

.productName .container .row .col-xl-4, .productName .container .row .col-md-12 {
  padding: 30px;
}
.productName .container .row .col-xl-4 .thumbnail, .productName .container .row .col-md-12 .thumbnail {
  background-color: #F8F8F8;
}
.productName .container .row .col-xl-4 .thumbnail img, .productName .container .row .col-md-12 .thumbnail img {
  width: 100%;
}
.productName .container .row .col-xl-8 .title .item #sizeList span, .productName .container .row .col-md-12 .title .item #sizeList span {
  padding: 8px;
  background-color: rgba(128, 128, 128, 0.596);
  font-weight: 700;
  margin-right: 10px;
}
.productName .container .row .col-xl-8 .title .item .prices, .productName .container .row .col-md-12 .title .item .prices {
  margin-top: 10px;
  color: red;
  font-weight: 600;
  font-size: 25px;
}
.productName .container .row .col-xl-8 .title .item .button-plus, .productName .container .row .col-md-12 .title .item .button-plus {
  color: white;
  font-size: 25px;
  background: linear-gradient(180deg, #6181F3 0%, #7C97F5 99.48%);
}
.productName .container .row .col-xl-8 .title .item span, .productName .container .row .col-md-12 .title .item span {
  font-size: 20px;
  padding: 10px 20px;
  font-weight: 600;
}
.productName .container .row .col-xl-8 .title .item .button-minus, .productName .container .row .col-md-12 .title .item .button-minus {
  color: white;
  font-size: 25px;
  background: linear-gradient(180deg, #6181F3 0%, #7C97F5 99.48%);
}
.productName .container .row .col-xl-8 .title .item .addto, .productName .container .row .col-md-12 .title .item .addto {
  margin-top: 20px;
  background: linear-gradient(270deg, rgba(62, 32, 248, 0.9) 5.14%, #D017EE 89.71%);
}

.List .container h2 {
  margin-bottom: 80px;
  font-size: 40px;
}
.List .container #shoesList .col-4, .List .container #shoesList .col-md-6, .List .container #shoesList .col-sm-12 {
  padding: 5px;
}
.List .container #shoesList .col-4 .item, .List .container #shoesList .col-md-6 .item, .List .container #shoesList .col-sm-12 .item {
  text-align: center;
  background-color: #F8F8F8;
  margin: 20px;
}
.List .container #shoesList .col-4 .item img, .List .container #shoesList .col-md-6 .item img, .List .container #shoesList .col-sm-12 .item img {
  width: 70%;
}
.List .container #shoesList .col-4 .item h3, .List .container #shoesList .col-md-6 .item h3, .List .container #shoesList .col-sm-12 .item h3 {
  font-size: 20px;
  padding-bottom: 20px;
  margin-bottom: 10px;
}
.List .container #shoesList .col-4 .item .detail, .List .container #shoesList .col-md-6 .item .detail, .List .container #shoesList .col-sm-12 .item .detail {
  display: flex;
  align-items: center;
  background-color: rgba(236, 206, 206, 0.61);
}
.List .container #shoesList .col-4 .item .detail a, .List .container #shoesList .col-md-6 .item .detail a, .List .container #shoesList .col-sm-12 .item .detail a {
  width: 50%;
  text-decoration: none;
  padding: 15px 0;
  font-weight: 500;
  font-size: 20px;
  background-color: #E1B067;
}
.List .container #shoesList .col-4 .item .detail span, .List .container #shoesList .col-md-6 .item .detail span, .List .container #shoesList .col-sm-12 .item .detail span {
  flex-grow: 1;
}

.footer {
  margin-top: 80px;
  background-image: url(../img/image\ 8.png);
  height: 350px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}