* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.header {
  background-color: #000000;
}
.header .navbar {
  display: flex;
  justify-content: space-between;
}

.menu .navbar .navbar-nav .nav-item .nav-link {
  color: #000000;
  font-weight: 500;
  position: relative;
  margin-right: 15px;
}
.menu .navbar .navbar-nav .nav-item .nav-link::before {
  content: "";
  position: absolute;
  left: 0%;
  bottom: 0%;
  width: 100%;
  height: 3px;
  background-color: gray;
  transform: scale(0, 1);
  transition: all 0.2s;
}
.menu .navbar .navbar-nav .nav-item .nav-link:hover::before {
  transform: scale(1, 1);
}

.carousel-lide {
  position: relative;
}
.carousel-lide .container {
  background-image: url(../img/image\ 6.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 70vh;
}
.carousel-lide .container .carousel .carousel-indicators li {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid gray;
  margin: 10px;
}
.carousel-lide .container .carousel .carousel-inner .carousel-item .card {
  position: absolute;
  top: 200px;
  right: 20px;
  background-color: transparent;
  border: none;
}
.carousel-lide .container .carousel .carousel-inner .carousel-item .card .card-body .card-title {
  font-size: 40px;
}
.carousel-lide .container .carousel .carousel-inner .carousel-item .card .card-body a {
  color: #ffffff;
}
.carousel-lide .container .carousel .carousel-control-prev {
  justify-content: left;
}
.carousel-lide .container .carousel .carousel-control-prev i {
  font-size: 50px;
  color: gray;
  transform: translateX(-40px);
}
.carousel-lide .container .carousel .carousel-control-next {
  justify-content: right;
}
.carousel-lide .container .carousel .carousel-control-next i {
  font-size: 50px;
  color: gray;
}

@media screen and (max-width: 576px) {
  .carousel-lide {
    position: relative;
  }
  .carousel-lide .container .carousel-inner .carousel-item img {
    width: 500px;
    height: 250px;
  }
  .carousel-lide .container .carousel-inner .carousel-item .card {
    display: none;
  }
  .carousel-lide .container .carousel-inner .carousel-item .card .card-body .card-title {
    font-size: 40px;
    color: aqua;
  }
  .carousel-lide .container .carousel-inner .carousel-item .card .card-body a {
    color: #ffffff;
  }
}
.product {
  margin-bottom: 60px;
}
.product .container .detail h2 {
  text-align: center;
  margin: 30px 0;
}
.product .container .product-main .row .col-4, .product .container .product-main .row .col-md-6, .product .container .product-main .row .col-sm-12 {
  padding: 5px;
}
.product .container .product-main .row .col-4 .item, .product .container .product-main .row .col-md-6 .item, .product .container .product-main .row .col-sm-12 .item {
  text-align: center;
  background-color: #F8F8F8;
  margin: 20px;
}
.product .container .product-main .row .col-4 .item img, .product .container .product-main .row .col-md-6 .item img, .product .container .product-main .row .col-sm-12 .item img {
  width: 70%;
}
.product .container .product-main .row .col-4 .item h3, .product .container .product-main .row .col-md-6 .item h3, .product .container .product-main .row .col-sm-12 .item h3 {
  font-size: 20px;
  padding-bottom: 20px;
  margin-bottom: 10px;
}
.product .container .product-main .row .col-4 .item .detail, .product .container .product-main .row .col-md-6 .item .detail, .product .container .product-main .row .col-sm-12 .item .detail {
  display: flex;
  align-items: center;
  background-color: rgba(236, 206, 206, 0.61);
}
.product .container .product-main .row .col-4 .item .detail a, .product .container .product-main .row .col-md-6 .item .detail a, .product .container .product-main .row .col-sm-12 .item .detail a {
  width: 50%;
  text-decoration: none;
  padding: 15px 0;
  font-weight: 500;
  font-size: 20px;
  background-color: #E1B067;
}
.product .container .product-main .row .col-4 .item .detail span, .product .container .product-main .row .col-md-6 .item .detail span, .product .container .product-main .row .col-sm-12 .item .detail span {
  flex-grow: 1;
}

.footer {
  background-image: url(../img/image\ 8.png);
  height: 350px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}